#home-page {
  background-color: var(--home-page-background);
  position: fixed;
  top: 0;
  left: 90px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 7fr;
}

#home-page #sidebar {
  box-shadow: var(--box-shadow);
}

#home-page #main-content {
  box-shadow: var(--box-shadow);
  position: relative;
  padding: 45px;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

#home-page #chat-window {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 30px;
}

#workspaces .subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#workspaces .subheading span,
#workspaces .subheading i {
  font-size: 17pt;
  text-shadow: var(--text-shadow-dark);
  color: var(--light-gray);
}

#workspaces .subheading i {
  cursor: pointer;
  color: var(--white);
  font-size: 15pt;
}

.workspaces-list-wrapper {
  width: 240px;
  padding: 10px;
}

.workspaces-list {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 240px;
  scrollbar-color: var(--gray) transparent;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid var(--home-page-background);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.workspaces-list .workspace {
  padding: 5px;
  border-radius: 10px;
  word-wrap: break-word;
  margin-right: 10px;
  cursor: pointer;
}

.workspace:hover {
  background-color: var(--navbar-background);
}

.selected {
  background-color: var(--navbar-background);
}

.workspace img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  text-align: justify;
}

.messages-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--box-shadow);
  height: 900px;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}

.message {
  background-color: var(--other-message-background);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 60%;
  line-break: anywhere;
  word-wrap: break-word;
}

.message.me {
  text-align: right;
  background-color: var(--my-message-background);
  align-self: flex-end;
}

.message-time {
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

}

.message-time div {
  font-size: 8pt;
}

.message-time.me {
  justify-content: flex-end;
}

.dot {
  margin-bottom: 6px;
}

.fa-circle:before {
  font-size: 3pt;
}

.message-details {
  display: flex;
  gap: 20px;
  align-items: center;
}

.message-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-header {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--white);
}
