#user-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}

.profile-content {
  display: flex;
}

.profile-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
