:root {
  --white: #FFFFFF;
  --black: #000000;
  --box-shadow: -0.4em 0 .5em rgb(158, 158, 158);
  --home-page-background: rgb(69, 68, 68);
  --main-content-background: rgb(96, 92, 91);
  --navbar-background: rgb(47, 47, 47);
  --modal-content-background: rgb(58, 58, 58);
  --usermenu-background: rgb(58, 68, 58);
  --text-shadow: rgb(198, 198, 153) 1px 0 10px;
  --text-shadow-dark: rgb(126, 126, 95) 1px 0 10px;
  --my-message-background: #0084ff;
  --other-message-background: #323436;
  --submit-button-background: rgb(91, 109, 91);
  --gray: #808080;
  --dark-gray: #999999;
  --light-gray: #CCCCCC;
  --red: #FF5A5F;
  --green: rgb(93, 203, 93);
}

* {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--home-page-background);
}

p {
  text-shadow: none;
  font-style: italic;
  letter-spacing: 0.6px;
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  margin: 40px;
}

.btn-submit {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--submit-button-background);
  box-shadow: -2px -2px 1px var(--gray);
  color: var(--white);
  margin-top: 20px;
}

.heading {
  font-size: 25pt;
  font-weight: bold;
  word-break: break-word;
}

.subheading {
  font-size: 17pt;
  font-weight: bold;
  word-break: break-word;
}

.alert-success {
  color: rgb(93, 203, 93);
}

input[disabled]:hover {
  cursor: not-allowed;
}

.disabled:hover,
select[disabled]:hover {
  cursor: not-allowed;
}

button.disabled:hover {
  opacity: .5;
  cursor: not-allowed;
}

a,
button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

form h2 {
  cursor: pointer;
}

form input {
  padding: 10px;
  background-color: var(--gray);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

form input:focus {
  background-color: var(--gray);
  color: var(--white);
}

form input[type="file"] {
  padding: 10px;
  margin: 0;
  text-align: center;
}

form input[type="file"]::file-selector-button {
  color: var(--white);
  font-style: italic;
  font-size: 11px;
  background-color: var(--modal-content-background);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: var(--text-shadow);
}

form select {
  padding: 10px;
}

form textarea {
  padding: 10px;
}

form .btn-primary {
  border: none;
  margin-top: 20px;
}

form .btn-primary.enabled:hover {
  background-color: transparent;
  color: var(--red);
  border: 1px solid var(--red);
}

form input::placeholder {
  color: var(--white);
  font-style: italic;
  font-size: 10pt;
}

.modal-errors {
  color: var(--red);
}


.demo-user {
  text-align: left;
  cursor: pointer;
}

.demo-user:hover {
  color: var(--red);
}

.btn {
  background-color: var(--main-content-background);
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  font-style: italic;
}

.btn:hover {
  text-decoration: underline;
}
