.welcome-modal {
  position: absolute;
  top: 30px;
  left: 375px;
  background-color: var(--welcome-modal-background);
  padding: 10px;
  border-radius: 20px;
  height: 650px;
  width: 500px;
  animation: slide-in 5s ease-in-out;
  z-index: 1;
}

@keyframes slide-in {
  0% {
    transform: translateY(-50vh);
  }

  100% {
    transform: translateY(25px);
  }
}

.welcome-modal.hidden {
  display: none;
}

.welcome-modal h1 {
  color: var(--wheat);
}

.welcome-modal p {
  color: var(--wheat);
  text-indent: 2em;
  line-height: 2;
  margin-left: 15px;
}

.close-welcome-modal {
  color: var(--light-yellow);
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.fa-people-roof {
  color: var(--wheat);
  margin-left: -20px;
}

.welcome-to-minislack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1020px) {
  .welcome-modal {
    width: 400px;
    height: 750px;
    left: 415px;
  }
}
